body {
  margin: auto;
  background-color: black;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
  display: flex;
  flex-direction: column;
}

header {
  height: 69px;
  border-bottom: 1px solid seashell;
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  flex-wrap: wrap;
  z-index: 1;
  background-color: black;
  justify-content: space-between;
}

.title-image {
  height: 50px;
  padding-left: 10px;
}

h2 {
  display: block;
}

nav a {
  padding: 10px;
  color: seashell;
}

#mission {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  height: 700px;
  margin: 69px auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1200px;
  padding-top: 70px;
}

.title-one {
  background-color: black;
  width: 100%;
  margin-bottom: 70px;
}

.title-two {
  text-align: center;
}

#store {
  width: 1000px;
  padding: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 700px;
  margin: auto;
}

.photos {
  width: 300px;
  height: 200px;
  display: block;
  padding: 0px 20px 10px 20px;
}

.caption {
  text-align: center;
  display: block;
}

.tea-images {
  display: flex;
  flex-direction: column;
}

.row-one {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.row-two {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 20px;
}

#locations {
  height: 500px;
  width: 1200px;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding-top: 70px;
}

.stores {
  display: flex;
  flex-direction: column;
  background-color: black;
  width: 300px;
  height: 300px;
  text-align: center;
  margin: 15px 40px 0px 40px;
  justify-content: center;
}

.stores span {
  padding: 20px;
}

.all-stores {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.contact-info {
  display: block;
  text-align: center;
}

footer {
  margin-left: 20px;
}

div {
  display: block;
}

#locations h2 {
  margin: 0px;
}

h3 {
  margin: 20px;
}